@font-face {
  font-family: 'myFont';
  src:
    url('MehdiHeydari.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'myFont2';
  src:
    url('Al-Jazeera.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
.myText {
  font-family: myFont, sans-serif;
  font-weight: bolder;
}
.myText2 {
  font-family: myFont2, sans-serif;
  font-weight: bolder;
}
