<ion-view>
  <ion-content class="page-background" scroll="false">
    <div ng-if="isTrain" class="myText">
      <div class="row">
        <a class="col grid-example s6 board-title">
        </a>
      </div>
  <div style="overflow-y: scroll;
    height: 80%;
    position: absolute;
    width: 90%;
    margin-left: 23%;
    margin-top: 20px;
    overflow-x: hidden;">
      <div class="row" ng-click="openBoard('sport')" style="background: url('img/11-game menu.png');background-size: 60% 100%;background-repeat: no-repeat;
    background-position: left;position: relative;z-index: 2;
    width: 100%;">
      </div>
      <div id="sport" style="background: url('img/11-game menu7.png');display: none;
    background-size: 50% 100%;
    background-repeat: no-repeat;
    background-position: left;
    width: 120%;
    height: 250px;
    margin-top: -31px;
    z-index: 1;">
        <div class="row" style="height: 65px">
          <div class="col grid-example s2" ng-click="topRanks(17)" style="background: url('img/11-game menu9.png');
    background-size: 42px 42px;
    background-repeat: no-repeat;
    margin-left: 5%;max-width: 42px;background-position-x: right">
          </div>
          <div class="col grid-example s2" ng-class="{myDisable : disable(17)}" ng-click="start(17,'war/www.gameeapp.com/game/2cW21cuV3.html')" style="background: url('img/11-game menu8.png');
    background-size: 42px 42px;padding-left: 0;
    background-repeat: no-repeat">
          </div>
          <div class="col grid-example s2" style="background: url('img/sniper.png');
    background-size: 42px 42px;
    background-repeat: no-repeat">
          </div>
        </div>
        <div class="row" style="height: 65px;margin-top: -20px">
          <div class="col grid-example s2" ng-click="topRanks(6)" style="background: url('img/11-game menu9.png');
    background-size: 42px 42px;
    background-repeat: no-repeat;
    margin-left: 5%;max-width: 42px;background-position-x: right">
          </div>
          <div class="col grid-example s2" ng-class="{myDisable : disable(6)}" ng-click="start(6,'car/www.gameeapp.com/game/oFfW2omiW.html')" style="background: url('img/11-game menu8.png');
    background-size: 42px 42px;padding-left: 0;
    background-repeat: no-repeat">
          </div>
          <div class="col grid-example s2" style="background: url('img/car.png');
    background-size: 42px 42px;
    background-repeat: no-repeat">
          </div>
        </div>
        <div class="row" style="margin-top: -20px;height: 65px" >
          <div class="col grid-example s2" ng-click="topRanks(4)" style="background: url('img/11-game menu9.png');
    background-size: 42px 42px;
    background-repeat: no-repeat;
    margin-left: 5%;max-width: 42px;background-position-x: right">
          </div>
          <div class="col grid-example s2" ng-class="{myDisable : disable(4)}" ng-click="start(4,'motor/www.gameeapp.com/game/kAHVRl.html')" style="background: url('img/11-game menu8.png');
    background-size: 42px 42px;padding-left: 0;
    background-repeat: no-repeat">
          </div>
          <div class="col grid-example s2" style="background: url('img/motor.png');
    background-size: 42px 42px;
    background-repeat: no-repeat">
          </div>
        </div>
        <div class="row" style="margin-top: -20px;height: 65px" >
          <div class="col grid-example s2" ng-click="topRanks(15)" style="background: url('img/11-game menu9.png');
    background-size: 42px 42px;
    background-repeat: no-repeat;
    margin-left: 5%;max-width: 42px;background-position-x: right">
          </div>
          <div class="col grid-example s2" ng-class="{myDisable : disable(15)}" ng-click="start(15,'football/gamee/game/index.html')" style="background: url('img/11-game menu8.png');
    background-size: 42px 42px;padding-left: 0;
    background-repeat: no-repeat">
          </div>
          <div class="col grid-example s2" style="background: url('img/football.png');
    background-size: 42px 42px;
    background-repeat: no-repeat">
          </div>
        </div>
        <div class="row" style="margin-top: -20px;height: 65px" >
          <div class="col grid-example s2" ng-click="topRanks(16)" style="background: url('img/11-game menu9.png');
    background-size: 42px 42px;
    background-repeat: no-repeat;
    margin-left: 5%;max-width: 42px;background-position-x: right">
          </div>
          <div class="col grid-example s2" ng-class="{myDisable : disable(16)}" ng-click="start(16,'karate/gamee/game/index.html')" style="background: url('img/11-game menu8.png');
    background-size: 42px 42px;padding-left: 0;
    background-repeat: no-repeat">
          </div>
          <div class="col grid-example s2" style="background: url('img/karate.png');
    background-size: 42px 42px;
    background-repeat: no-repeat">
          </div>
        </div>
      </div>



      <div class="row" ng-click="openBoard('think')" style="background: url('img/11-game menu2.png');background-size: 60% 100%;background-repeat: no-repeat;
    background-position: left;position: relative;z-index: 2;margin-top: 0;
    width: 100%;">
      </div>
      <div id="think" style="background: url('img/11-game menu7.png');display: none;
    background-size: 50% 100%;
    background-repeat: no-repeat;
    background-position: left;
    width: 120%;
    height: 250px;
    margin-top: -31px;
    z-index: 1;">
        <div class="row" style="height: 65px">
          <div class="col grid-example s2" ng-click="topRanks(18)" style="background: url('img/11-game menu9.png');
    background-size: 42px 42px;
    background-repeat: no-repeat;
    margin-left: 5%;max-width: 42px;background-position-x: right">
          </div>
          <div class="col grid-example s2" ng-class="{myDisable : disable(18)}" ng-click="start(18,'delivery/www.gameeapp.com/game/KubUJQ.html')" style="background: url('img/11-game menu8.png');
    background-size: 42px 42px;padding-left: 0;
    background-repeat: no-repeat">
          </div>
          <div class="col grid-example s2" style="background: url('img/delivery.png');
    background-size: 42px 42px;
    background-repeat: no-repeat">
          </div>
        </div>
        <div class="row" style="height: 65px;margin-top: -20px" >
          <div class="col grid-example s2" ng-click="topRanks(5)" style="background: url('img/11-game menu9.png');
    background-size: 42px 42px;
    background-repeat: no-repeat;
    margin-left: 5%;max-width: 42px;background-position-x: right">
          </div>
          <div class="col grid-example s2" ng-class="{myDisable : disable(5)}" ng-click="start(5,'puzzle/www.gameeapp.com/game/FGM7TVW2Ma.html')" style="background: url('img/11-game menu8.png');
    background-size: 42px 42px;padding-left: 0;
    background-repeat: no-repeat;padding-left: 0">
          </div>
          <div class="col grid-example s2" style="background: url('img/puzzle.png');
    background-size: 42px 42px;
    background-repeat: no-repeat">
          </div>
        </div>
        <div class="row" style="margin-top: -20px;height: 65px" >
          <div class="col grid-example s2" ng-click="topRanks(7)" style="background: url('img/11-game menu9.png');
    background-size: 42px 42px;
    background-repeat: no-repeat;
    margin-left: 5%;max-width: 42px;background-position-x: right">
          </div>
          <div class="col grid-example s2" ng-class="{myDisable : disable(7)}" ng-click="start(7,'hexon/www.gameeapp.com/game/xRkQk0iwI3.html')" style="background: url('img/11-game menu8.png');
    background-size: 42px 42px;padding-left: 0;
    background-repeat: no-repeat">
          </div>
          <div class="col grid-example s2" style="background: url('img/hexo.png');
    background-size: 42px 42px;
    background-repeat: no-repeat">
          </div>
        </div>
        <div class="row" style="margin-top: -20px;height: 65px" >
          <div class="col grid-example s2" ng-click="topRanks(10)" style="background: url('img/11-game menu9.png');
    background-size: 42px 42px;
    background-repeat: no-repeat;
    margin-left: 5%;max-width: 42px;background-position-x: right">
          </div>
          <div class="col grid-example s2" ng-class="{myDisable : disable(10)}" ng-click="start(10,'diamond/gamee/game/index.html')" style="background: url('img/11-game menu8.png');
    background-size: 42px 42px;padding-left: 0;
    background-repeat: no-repeat">
          </div>
          <div class="col grid-example s2" style="background: url('img/diamond.png');
    background-size: 42px 42px;
    background-repeat: no-repeat">
          </div>
        </div>
        <div class="row" style="margin-top: -20px;height: 65px" >
          <div class="col grid-example s2" ng-click="topRanks(11)" style="background: url('img/11-game menu9.png');
    background-size: 42px 42px;
    background-repeat: no-repeat;
    margin-left: 5%;max-width: 42px;background-position-x: right">
          </div>
          <div class="col grid-example s2" ng-class="{myDisable : disable(11)}" ng-click="start(11,'hegza/gamee/game/index.html')" style="background: url('img/11-game menu8.png');
    background-size: 42px 42px;padding-left: 0;
    background-repeat: no-repeat">
          </div>
          <div class="col grid-example s2" style="background: url('img/hegza.png');
    background-size: 42px 42px;
    background-repeat: no-repeat">
          </div>
        </div>
      </div>



      <div class="row" ng-click="openBoard('skill')" style="background: url('img/11-game menu3.png');background-size: 60% 100%;background-repeat: no-repeat;
    background-position: left;position: relative;z-index: 2;margin-top: 0;
    width: 100%;">
      </div>
      <div id="skill" style="background: url('img/11-game menu7.png');display: none;
    background-size: 50% 100%;
    background-repeat: no-repeat;
    background-position: left;
    width: 120%;
    height: 250px;
    margin-top: -31px;
    z-index: 1;">
        <div class="row" style="height: 65px">
          <div class="col grid-example s2" ng-click="topRanks(19)" style="background: url('img/11-game menu9.png');
    background-size: 42px 42px;
    background-repeat: no-repeat;
    margin-left: 5%;max-width: 42px;background-position-x: right">
          </div>
          <div class="col grid-example s2" ng-class="{myDisable : disable(19)}" ng-click="start(19,'meteoric/www.gameeapp.com/game/PrQHx2nBaS.html')" style="background: url('img/11-game menu8.png');
    background-size: 42px 42px;padding-left: 0;
    background-repeat: no-repeat">
          </div>
          <div class="col grid-example s2" style="background: url('img/meteoric.png');
    background-size: 42px 42px;
    background-repeat: no-repeat">
          </div>
        </div>
        <div class="row" style="height: 65px;margin-top: -20px" >
          <div class="col grid-example s2" ng-click="topRanks(2)" style="background: url('img/11-game menu9.png');
    background-size: 42px 42px;
    background-repeat: no-repeat;
    margin-left: 5%;max-width: 42px;background-position-x: right">
          </div>
          <div class="col grid-example s2" ng-class="{myDisable : disable(2)}" ng-click="start(2,'spinner/www.gameeapp.com/game/ipUMpcUES.html')" style="background: url('img/11-game menu8.png');
    background-size: 42px 42px;padding-left: 0;
    background-repeat: no-repeat">
          </div>
          <div class="col grid-example s2" style="background: url('img/spinner.png');
    background-size: 42px 42px;
    background-repeat: no-repeat">
          </div>
        </div>
        <div class="row" style="margin-top: -20px;height: 65px" >
          <div class="col grid-example s2" ng-click="topRanks(8)" style="background: url('img/11-game menu9.png');
    background-size: 42px 42px;
    background-repeat: no-repeat;
    margin-left: 5%;max-width: 42px;background-position-x: right">
          </div>
          <div class="col grid-example s2" ng-class="{myDisable : disable(8)}" ng-click="start(8,'mr/www.gameeapp.com/game/WmHdqig.html')" style="background: url('img/11-game menu8.png');
    background-size: 42px 42px;padding-left: 0;
    background-repeat: no-repeat">
          </div>
          <div class="col grid-example s2" style="background: url('img/mr.png');
    background-size: 42px 42px;
    background-repeat: no-repeat">
          </div>
        </div>
        <div class="row" style="margin-top: -20px;height: 65px" >
          <div class="col grid-example s2" ng-click="topRanks(12)" style="background: url('img/11-game menu9.png');
    background-size: 42px 42px;
    background-repeat: no-repeat;
    margin-left: 5%;max-width: 42px;background-position-x: right">
          </div>
          <div class="col grid-example s2" ng-class="{myDisable : disable(12)}" ng-click="start(12,'orbit/gamee/game/index.html')" style="background: url('img/11-game menu8.png');
    background-size: 42px 42px;padding-left: 0;
    background-repeat: no-repeat">
          </div>
          <div class="col grid-example s2" style="background: url('img/orbit.png');
    background-size: 42px 42px;
    background-repeat: no-repeat">
          </div>
        </div>
        <div class="row" style="margin-top: -20px;height: 65px" >
          <div class="col grid-example s2" ng-click="topRanks(13)" style="background: url('img/11-game menu9.png');
    background-size: 42px 42px;
    background-repeat: no-repeat;
    margin-left: 5%;max-width: 42px;background-position-x: right">
          </div>
          <div class="col grid-example s2" ng-class="{myDisable : disable(13)}" ng-click="start(13,'school/gamee/game/index.html')" style="background: url('img/11-game menu8.png');
    background-size: 42px 42px;padding-left: 0;
    background-repeat: no-repeat">
          </div>
          <div class="col grid-example s2" style="background: url('img/school.png');
    background-size: 42px 42px;
    background-repeat: no-repeat">
          </div>
        </div>
      </div>



      <div class="row" ng-click="openBoard('jump')" style="background: url('img/11-game menu4.png');background-size: 60% 100%;background-repeat: no-repeat;
    background-position: left;position: relative;z-index: 2;margin-top: 0;
    width: 100%;">
      </div>
      <div id="jump" style="background: url('img/11-game menu7.png');display: none;
    background-size: 50% 100%;
    background-repeat: no-repeat;
    background-position: left;
    width: 120%;
    height: 250px;
    margin-top: -32px;
    z-index: 1;">
        <div class="row" style="height: 65px">
          <div class="col grid-example s2" ng-click="topRanks(20)" style="background: url('img/11-game menu9.png');
    background-size: 42px 42px;
    background-repeat: no-repeat;
    margin-left: 5%;max-width: 42px;background-position-x: right">
          </div>
          <div class="col grid-example s2" ng-class="{myDisable : disable(20)}" ng-click="start(20,'flight/www.gameeapp.com/game/0fmMKCljn.html')" style="background: url('img/11-game menu8.png');
    background-size: 42px 42px;padding-left: 0;
    background-repeat: no-repeat">
          </div>
          <div class="col grid-example s2" style="background: url('img/flight.png');
    background-size: 42px 42px;
    background-repeat: no-repeat">
          </div>
        </div>
        <div class="row" style="height: 65px;margin-top: -20px" >
          <div class="col grid-example s2" ng-click="topRanks(3)" style="background: url('img/11-game menu9.png');
    background-size: 42px 42px;
    background-repeat: no-repeat;
    margin-left: 5%;max-width: 42px;background-position-x: right">
          </div>
          <div class="col grid-example s2" ng-class="{myDisable : disable(3)}" ng-click="start(3,'ninja/www.gameeapp.com/game/G1oy49taR.html')" style="background: url('img/11-game menu8.png');
    background-size: 42px 42px;padding-left: 0;
    background-repeat: no-repeat">
          </div>
          <div class="col grid-example s2" style="background: url('img/ninja.png');
    background-size: 42px 42px;
    background-repeat: no-repeat">
          </div>
        </div>
        <div class="row" style="margin-top: -20px;height: 65px" >
          <div class="col grid-example s2" ng-click="topRanks(1)" style="background: url('img/11-game menu9.png');
    background-size: 42px 42px;
    background-repeat: no-repeat;
    margin-left: 5%;max-width: 42px;background-position-x: right">
          </div>
          <div class="col grid-example s2" ng-class="{myDisable : disable(1)}" ng-click="start(1,'space/www.gameeapp.com/game/ibBTDViUP.html')" style="background: url('img/11-game menu8.png');
    background-size: 42px 42px;padding-left: 0;
    background-repeat: no-repeat">
          </div>
          <div class="col grid-example s2" style="background: url('img/space.png');
    background-size: 42px 42px;
    background-repeat: no-repeat">
          </div>
        </div>
        <div class="row" style="margin-top: -20px;height: 65px" >
          <div class="col grid-example s2" ng-click="topRanks(9)" style="background: url('img/11-game menu9.png');
    background-size: 42px 42px;
    background-repeat: no-repeat;
    margin-left: 5%;max-width: 42px;background-position-x: right">
          </div>
          <div class="col grid-example s2" ng-class="{myDisable : disable(9)}" ng-click="start(9,'qubo/www.gameeapp.com/game/u0yXP5o.html')" style="background: url('img/11-game menu8.png');
    background-size: 42px 42px;padding-left: 0;
    background-repeat: no-repeat">
          </div>
          <div class="col grid-example s2" style="background: url('img/qubo.png');
    background-size: 42px 42px;
    background-repeat: no-repeat">
          </div>
        </div>
        <div class="row" style="margin-top: -20px;height: 65px" >
          <div class="col grid-example s2" ng-click="topRanks(14)" style="background: url('img/11-game menu9.png');
    background-size: 42px 42px;
    background-repeat: no-repeat;
    margin-left: 5%;max-width: 42px;background-position-x: right">
          </div>
          <div class="col grid-example s2" ng-class="{myDisable : disable(14)}" ng-click="start(14,'tire/gamee/game/index.html')" style="background: url('img/11-game menu8.png');
    background-size: 42px 42px;padding-left: 0;
    background-repeat: no-repeat">
          </div>
          <div class="col grid-example s2" style="background: url('img/tire.png');
    background-size: 42px 42px;
    background-repeat: no-repeat">
          </div>
        </div>
      </div>
  </div>

        <div ng-click="goBack()" style="width: 70px;
    background-image: url(img/back.png);
    background-size: 100% 100%;
    position: fixed;
    bottom: 0;
    height: 80px;"></div>
        <div style="width: 70px;
    background-image: url(img/help.png);
    background-size: 100% 100%;
    position: fixed;
    bottom: 0;
    right: 0;
    height: 80px;"></div>
    </div>

    <div ng-if="!isTrain" class="myText">
      <div class="row" style="position: absolute;margin-top: 100px;max-width: 70%;margin-left: 15%">
        <div id="battle" on-hold="scale('battle')" on-release="removeScale('battle')"
             class="col myText grid-example s6 blue-button" style="font-size: large;max-width: 100%"
             ng-click="releaseMore()">
4 تا بازی دیگه میخوام
        </div>
      </div>
      <div class="row">
        <a class="col grid-example s6 board-title">
        </a>
      </div>
      <div style="overflow-y: scroll;
    height: 520px;
    position: absolute;
    width: 90%;
    margin-left: 23%;
    margin-top: 140px;
    overflow-x: hidden;">

        <div class="row" ng-click="openBoard('challenge')" style="background: url('img/random.png');background-size: 60% 100%;background-repeat: no-repeat;
    background-position: left;position: relative;z-index: 2;margin-top: 0;margin-bottom: 16px;
    width: 100%;">
        </div>
        <div id="challenge" style="background: url('img/11-game menu7.png');display: none;
    background-size: 50% 100%;
    background-repeat: no-repeat;
    background-position: left;
    width: 120%;
    height: 200px;
    margin-top: -30px;
    z-index: 1;">
          <div ng-repeat="row in challengeMenu" class="row" style="margin-top: -20px;height: 65px" >
            <div class="col grid-example s2" ng-click="topRanks(row.id)" style="background: url('img/11-game menu9.png');
    background-size: 42px 42px;
    background-repeat: no-repeat;
    margin-left: 5%;max-width: 42px;background-position-x: right">
            </div>
            <div class="col grid-example s2" ng-click="start(row.id,row.adr)" style="background: url('img/11-game menu8.png');
    background-size: 42px 42px;padding-left: 0;
    background-repeat: no-repeat">
            </div>
            <div class="col grid-example s2" style="background: url('{{row.menuicon}}');
    background-size: 42px 42px;
    background-repeat: no-repeat">
            </div>
          </div>
        </div>
      </div>

      <div ng-click="goBack()" style="width: 70px;
    background-image: url(img/back.png);
    background-size: 100% 100%;
    position: fixed;
    bottom: 0;
    height: 80px;"></div>
      <div ng-click="help()"style="width: 70px;
    background-image: url(img/help.png);
    background-size: 100% 100%;
    position: fixed;
    bottom: 0;
    right: 0;
    height: 80px;"></div>
    </div>
  </ion-content>
</ion-view>
