<ion-modal-view
  style="min-height: 80%;width: 90%;top: 10%;left: 5%;border-radius: 5%;background: rgb(255,255,255);">
  <ion-content class="padding">
    <a ng-click="modal.hide()" class="closeButton"></a>
    <div style="margin-top: 20px">
      <div class="row myText" ng-repeat="row in rows">
        <div class="col grid-example s1 battlefield" style="color: white;font-size: smaller;"
             ng-click="doBuy(row.name,row.price,row.icon,row.amount)">
          خرید
        </div>
        <div class="col grid-example s3 coining-text-right" style="font-size: large;text-align: center !important;">
          {{row.price}}
        </div>
        <div class="col grid-example s6 coining-text-left" style="color: darkmagenta;padding: 0;text-align: right !important;font-size: x-small;min-width: 40%">
          {{row.description}}
        </div>
        <div class="col grid-example s2b coining-text-left" style="color: darkmagenta;">
          <img src="{{row.icon}}" style="width: 32px;height: 32px">
        </div>
      </div>
    </div>
  </ion-content>
</ion-modal-view>
