<ion-view>
  <ion-content class="page-background" scroll="false">
    <div class="myText" style="width: 100%;height: 100%">
      <div id="main" class="row login-background" style="background: url('img/26-1.png')">
        <form name="confirmForm" novalidate ng-submit="submit(password,code)"
              style="height: 100%;width: 100%;margin-top: 65%;margin-left: 15%;margin-right: 15%;">
          <div style="height: 20px;display: block;text-align: right;width: 90%;background: url('img/26-6.png');
          background-size: 70px;
    background-repeat: no-repeat;
    background-position-x: right;margin-top: 5px;margin-bottom: 5px">
          </div>
          <div style="height: 30px">
            <input type="password" id="code" name="code" ng-model="code"
                   style="background: url(img/input-veify-02.png);width: 80%;height: 100%;background-size: 100% 100%;margin-left: 10%;padding-left: 40px;padding-right: 10px;background-repeat: no-repeat;background-position: center">
          </div>
          <div style="height: 20px;display: block;text-align: right;width: 90%;background: url('img/26-4.png');
          background-size: 70px;
    background-repeat: no-repeat;
    background-position-x: right;margin-top: 5px;margin-bottom: 5px">
          </div>
          <div style="height: 30px">
            <input type="password" id="password" name="password" ng-model="password"
                   class="myText" ng-minlength="6" ng-maxlength="50"
                   style="background: url(img/input-01.png);width: 80%;height: 100%;background-size: 100% 100%;margin-left: 10%;padding-left: 40px;padding-right: 10px">
          </div>
          <div class="error-message myText"
               ng-show="confirmForm.password.$error.minlength && confirmForm.password.$touched">&#1576;&#1585;&#1575;&#1740;&#32;&#1601;&#1740;&#1604;&#1583;&#32;&#1705;&#1604;&#1605;&#1607;&#32;&#1593;&#1576;&#1608;&#1585;&#32;&#1581;&#1583;&#1575;&#1602;&#1604;&#32;&#54;&#32;&#1705;&#1575;&#1585;&#1575;&#1705;&#1578;&#1585;&#32;&#1608;&#1575;&#1585;&#1583;&#32;&#1705;&#1606;&#1740;&#1583;</div>
          <div class="error-message myText"
               ng-show="confirmForm.password.$error.maxlength && confirmForm.password.$touched">
            حداکثر
            50 کاراکتر وارد کنید
          </div>

          <div style="height: 20px;display: block;text-align: right;width: 90%;background: url('img/26-7.png');
          background-size: 70px;
    background-repeat: no-repeat;
    background-position-x: right;margin-top: 5px;margin-bottom: 5px">
          </div>
          <div style="height: 30px">
            <input type="password" id="confirmPass" name="confirmPass"
                   ng-model="confirmPass" class="myText"
                   ng-change="checkPassword(confirmForm,password,confirmPass)" required
                   style="background: url(img/input-01.png);width: 80%;height: 100%;background-size: 100% 100%;margin-left: 10%;padding-left: 40px;padding-right: 10px">
          </div>
          <div class="error-message myText"
               ng-show="confirmForm.confirmPass.$error.validity && confirmForm.confirmPass.$touched">&#1601;&#1740;&#1604;&#1583;&#32;&#1578;&#1705;&#1585;&#1575;&#1585;&#32;&#1705;&#1604;&#1605;&#1607;&#32;&#1593;&#1576;&#1608;&#1585;&#32;&#1576;&#1575;&#32;&#1705;&#1604;&#1605;&#1607;&#32;&#1593;&#1576;&#1608;&#1585;&#32;&#1576;&#1575;&#1740;&#1583;&#32;&#1576;&#1585;&#1575;&#1576;&#1585;&#32;&#1576;&#1575;&#1588;&#1583;</div>


          <button type="submit" ng-disabled="confirmForm.$invalid" class="row login-btn"
                  style="background: url(img/7-signup-4.png);position: absolute;
    width: 25%;
    right: 15%;
    bottom: -1%;">
          </button>
        </form>
      </div>
    </div>
    <div ng-click="goBack()" id="backBtn" style="width: 20%;
    background-image: url(img/21-14.png);
    background-size: 100% 100%;
    position: absolute;
    bottom: 6%;
    left: 15%;
    height: 12%;"></div>
  </ion-content>
</ion-view>
