<ion-view>
  <ion-content class="page-background" scroll="false">
    <div class="myText">
      <div class="row">
        <a class="col grid-example s6" style="text-align: left" ng-click="goBack()">
          <img class="coins-ico" src="img/back.jpg" style="width: 56px"/>
        </a>
        <a class="col grid-example s6 mytitle">
          سکه خواری
        </a>
      </div>
    <div class="row coining1" style="background-size: 300px" ng-click="tapsell()">
      <div class="col grid-example s6 coining-text-right" style="font-size: large">
        30 سکه
      </div>
      <div class="col grid-example s6 coining-text-left" style="color: darkmagenta;">
        تماشای ویدیو
      </div>
    </div>
    <div class="row coining2" style="background-size: 300px" ng-click="wheel()">
      <div class="col grid-example s6 coining-text-right" style="font-size: large">
        20 سکه
      </div>
      <div class="col grid-example s6 coining-text-left" style="color: darkmagenta;">
        گردونه شانسی
      </div>
    </div>
    <div class="row coining3" style="background-size: 300px" ng-click="invitation()">
      <div class="col grid-example s6 coining-text-right" style="font-size: large">
        40 سکه
      </div>
      <div class="col grid-example s6 coining-text-left" style="color: darkmagenta;">
        معرفی به دوستان
      </div>
    </div>
    <div class="row coining4" style="background-size: 300px;text-align: center;display: block" ng-click="buy()">
      خرید
    </div>
    </div>
  </ion-content>
</ion-view>
