<ion-view>
  <ion-content class="page-background" scroll="false">
    <div class="myText">
      <div class="row">
        <a class="col grid-example s6" style="text-align: left" ng-click="goBack()">
          <img class="coins-ico" src="img/back.jpg" style="width: 56px"/>
        </a>
        <a class="col grid-example s6 mytitle">
          سکه خواری
        </a>
      </div>
      <div class="myhelp" style="width:100%;background-size: 72px 72px;background-position-x: left;">
        <div ng-click="help()" style="width: 72px;float: left;">راهنما</div>
        <div style="width: 60%;float: right;margin-top: 30px;display: none" id="clock"></div>
      </div>
    <div class="row coining1" style="background-size: 300px" ng-click="tapsell()">
      <div class="col grid-example s6 coining-text-right" style="font-size: large">
        20 سکه
      </div>
      <div class="col grid-example s6 coining-text-left" style="color: darkmagenta;">
        تماشای ویدیو
      </div>
    </div>
    <div class="row coining2" style="background-size: 300px" ng-click="wheel()">
      <div class="col grid-example s6 coining-text-right" style="font-size: large">
تا 45 سکه      </div>
      <div class="col grid-example s6 coining-text-left" style="color: darkmagenta;">
        گردونه شانسی
      </div>
    </div>
    <div class="row coining3" style="background-size: 300px" ng-click="invitation()">
      <div class="col grid-example s6 coining-text-right" style="font-size: large">
        150 سکه
      </div>
      <div class="col grid-example s6 coining-text-left" style="color: darkmagenta;">
        معرفی دوستان
      </div>
    </div>
    <div class="row coining4" style="background-size: 300px;text-align: center;display: block" ng-click="buy()">
      خرید
    </div>
    </div>
  </ion-content>
</ion-view>
