<ion-view hide-nav-bar="true">
  <ion-content class="page-background">
    <ion-refresher on-refresh="refresh()" pulling-text="Pull to refresh..."
                   refreshing-text="Refreshing!">

    </ion-refresher>
    <nav class="menu-omid">
      <input type="checkbox" href="#" class="menu-open-omid" name="menu-open" id="menu-open"/>
      <label class="menu-open-button" for="menu-open">
        <span class="hamburger hamburger-1"></span>
        <span class="hamburger hamburger-2"></span>
        <span class="hamburger hamburger-3"></span>
      </label>
      <a ng-click="register()" style="font-size: x-small" class="menu-item-omid myText"> ثبت نام </a>
      <a ng-click="changePass()" style="font-size: x-small" class="menu-item-omid myText"> ورود </a>
      <a ng-click="forgetPass()" style="font-size: xx-small" class="menu-item-omid myText"> بازیابی رمز </a>
      <a ng-click="coining()" style="font-size: 8px" class="menu-item-omid myText"> سکه خواری </a>
      <a ng-click="ranks()" style="font-size: x-small" class="menu-item-omid myText"> خفن ها </a>
      <a ng-click="help()" style="font-size: x-small" class="menu-item-omid myText"> راهنما </a>
    </nav>
    <!-- filters -->
    <svg width="5px" height="5px">
      <defs>
        <filter id="shadowed-goo">

          <feGaussianBlur in="SourceGraphic" result="blur" stdDeviation="10"/>
          <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7" result="goo"/>
          <feGaussianBlur in="goo" stdDeviation="3" result="shadow"/>
          <feColorMatrix in="shadow" mode="matrix" values="0 0 0 0 0  0 0 0 0 0  0 0 0 0 0  0 0 0 1 -0.2"
                         result="shadow"/>
          <feOffset in="shadow" dx="1" dy="1" result="shadow"/>
          <feBlend in2="shadow" in="goo" result="goo"/>
          <feBlend in2="goo" in="SourceGraphic" result="mix"/>
        </filter>
        <filter id="goo">
          <feGaussianBlur in="SourceGraphic" result="blur" stdDeviation="10"/>
          <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7" result="goo"/>
          <feBlend in2="goo" in="SourceGraphic" result="mix"/>
        </filter>
      </defs>
    </svg>

    <div class="myText">
      <div class="row" style="margin-top: 0;height: 120px;margin-left: 50%">
        <div class="col grid-example s3 board" style="max-width: 25%;right: 25%;position: absolute;height: 100px;">
          <div style="line-height: 35px;color: black">امید</div>
          <div style="line-height: 25px;color: black"> سکه : {{gamer.coins}}</div>
          <div style="line-height: 15px;color: black"> رتبه : {{gamer.rating}}</div>
        </div>
        <div class="col grid-example s3"
             style="background: url(img/pic.png) no-repeat center;background-size: contain;max-width: 25%;right: 0;position: absolute;"
             ng-click="training()">
          <img style="width: 48px;margin-top: 18px" src="{{me}}">
        </div>
      </div>
      <!--<div class="upgrade-ico" ng-click="avatar()"></div>-->
      <!--<a class="upgrade-ico" href="ranks.html" style="right: 80px"></a>-->

      <div class="row" style="margin-top: 30px">
        <article class="notepad">
          <p>This is zombie ipsum reversus ab viral inferno, nam rick </p>
        </article>
      </div>

      <div class="row" style="margin-bottom: 50px;margin-top: 0">
        <div ng-show="!isLeague()" class="row" style="margin-top: 0">
          <div class="col grid-example s6 blue-button"
               ng-click="training()">
            تمرین میکنم
          </div>
          <div class="col grid-example s6 red-button" ng-click="challenge()">
            حریف میطلبم
          </div>
        </div>
        <div ng-show="isLeague()" class="row" style="margin-top: 0">
          <div class="col grid-example s4 blue-button" style="font-size: large"
               ng-click="training()">
            تمرین میکنم
          </div>
          <div class="col grid-example s4 green-button" style="font-size: large">
            لیگ
          </div>
          <div class="col grid-example s4 red-button" style="font-size: large">
            حریف میطلبم
          </div>
        </div>
      </div>

      <div ng-if="gamer.halfGame.length > 0">
        <div class="row">
          <div class="col grid-example s12"
               style="text-align: left;background-position-x: left;background-size: 25% 100%;font-size: small;margin-left: 20px;padding-left: 7%">
            نا تمام ها
          </div>
        </div>
        <div class="row" style="margin-bottom: 10px;" ng-repeat="row in gamer.halfGame">
          <div class="col grid-example s3"
               style="background: url(img/pic.png) no-repeat center;background-size: contain;">
            <img style="width: 48px;margin-top: 8px" src="{{row.second.avatar}}">
          </div>
          <div class="col grid-example s3 rate-button" style="margin-right: 5px">
            {{row.second.user}}
          </div>
          <div class="col grid-example s3 rate" style="margin-left: 5px">
            <div style="line-height: 35px">{{row.score}}</div>
            <div style="line-height: 25px">{{row.status}}</div>
          </div>
          <div class="col grid-example s3 battlefield" style="color: white;font-size: smaller" ng-click="battlefield()">
            جزییات
          </div>
        </div>
      </div>
      <!--<div class="row" style="padding-top: 20px">-->
      <!--<div class="col grid-example s4 shelf" style="min-height: 30px;">-->
      <!--</div>-->
      <!--</div>-->

      <div ng-if="gamer.fullGame.length > 0">
        <div class="row">
          <div class="col grid-example s12"
               style="text-align: left;background-position-x: left;background-size: 25% 100%;font-size: small;margin-left: 20px;padding-left: 7%">
            تمام شده ها
          </div>
        </div>
        <div class="row" style="margin-bottom: 10px;" ng-repeat="row in gamer.fullGame">
          <div class="col grid-example s3"
               style="background: url(img/pic.png) no-repeat center;background-size: contain;">
            <img style="width: 48px;margin-top: 8px" src="{{row.second.avatar}}">
          </div>
          <div class="col grid-example s3 rate-button" style="margin-right: 5px">
            {{row.second.user}}
          </div>
          <div class="col grid-example s3 rate" style="margin-left: 5px">
            <div style="line-height: 35px">{{row.score}}</div>
            <div style="line-height: 25px">{{row.status}}</div>
          </div>
          <div class="col grid-example s3 battlefield" style="color: white;font-size: smaller" ng-click="battlefield()">
            جزییات
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
