<ion-view hide-nav-bar="true">
  <ion-content class="page-background" scroll="false">

    <ion-content>
      <ion-refresher on-refresh="refresh()" pulling-text="برای بارگزاری بکشید"
                     refreshing-text="در حال بارگزاری">

      </ion-refresher>
    <div class="background-info" style="float:left">
      <div ng-click="ranks()" class="myText" style="float:left;margin-top: 10px">
        <span style="display:inline;"><img id="cupT" class="home-badge-img" src="img/cup.png"/></span>
        <span class="home-badge-text my-overflow-text myEText"
              style="display:inline;top: 15px;left: 50px;width: 25px;
    font-size: small;">{{gamer.rating}}</span>
      </div>
      <div ng-click="coining()" class="myText" style="float:left;clear: both">
        <span style="display:inline;"><img id="coinT" class="home-badge-img" src="img/home-coin.png"/></span>
        <span class="home-badge-text my-overflow-text myEText" style="display:inline;top: 70px;left: 50px;width: 25px;
    font-size:small;">{{gamer.coins}}</span>
      </div>
      <div ng-click="coining()" class="myText" style="float:left;clear: both">
        <span style="display:inline;"><img id="gemT" class="home-badge-img" src="img/home-gem.png"/></span>
        <span class="home-badge-text my-overflow-text myEText" style="display:inline;top: 122px;left: 50px;width: 25px;
    font-size: small;">{{gamer.gem}}</span>
      </div>
      <!--<div ng-if="gamer.exp" class="myText" style="float:left;clear: both">-->
        <!--<span style="display:inline;"><img class="home-badge-img" src="img/exp.png"/></span>-->
        <!--<span class="home-badge-text my-overflow-text myEText" style="display:inline;top: 115px;left: 40px;width: 25px;-->
    <!--font-size: medium;">{{gamer.exp}}</span>-->
      <!--</div>-->
    </div>

    <div class="myText" style="position: absolute;left: 100px;top: 5px;" ng-click="speaker()">
      <span style="display:inline;"><img id="speaker" style="width: 64px" class="home-badge-img" src="img/speaker.png"/></span>
    </div>
    <div
      style="background: url(img/pic.png) no-repeat center;background-size: contain;right: 0;position: absolute;width: 175px;height: 80px;top: 0"
      ng-click="profile(gamer.user)">
      <img ng-style="{'width' : gamer.nextLevel}" style="position: absolute;left: 30px;top: 42px;height: 15px;" src="img/bar-full-profile.png">
      <img style="width: 35%;border-radius: 50%;position: absolute;right: 5px;top: 10px;" src="{{gamer.avatar}}">
    </div>
    <div class="myEText my-overflow-text" style="color: black;position: absolute;top: 15px;right: 70px;
    font-size: small;
    width: 100px;">{{gamer.user}}
    </div>
    <div ng-if="gamer" class="myText" style="color: black;position: absolute;top: 42px;right: 153px;font-size: small">
      {{gamer.level}}
    </div>

    <div class="row" style="position: absolute;margin-top: 60px;margin-left: 24%;max-width: 60%;">
      <div id="battle" on-hold="scale('battle')" on-release="removeScale('battle')"
           class="col grid-example s6 blue-button myText" style="font-size: large;max-width: 100%"
           ng-click="challenge()">

        حریف میطلبم

      </div>
    </div>
    <div class="row" style="margin-top: 130px;position: absolute;margin-left: 24%;max-width: 60%;">
      <div id="league" on-hold="scale('league')" on-release="removeScale('league')"
           class="col grid-example s6 red-button myText" ng-click="league()" style="font-size: large;max-width: 100%">
        لیگ
      </div>
    </div>
    <div class="row" style="margin-top: 200px;position: absolute;margin-left: 24%;max-width: 60%;">
      <div id="train" on-hold="scale('train')" on-release="removeScale('train')" class=" myText col grid-example s6 gold-button"
           ng-click=" training()" style="font-size: large;max-width: 100%">

        تمرین میکنم

      </div>
    </div>
    <div class="row" style="margin-top: 270px;position: absolute;margin-left: 24%;max-width: 60%;">
      <div id="soon" on-hold="scale('soon')" on-release="removeScale('soon')" class="col myText grid-example s6 green-button"
           ng-click="soon()" style="font-size: large;max-width: 100%">
        به زودی ...
      </div>
    </div>

    <div id="header" class="row" style="margin-top: 350px;position: absolute;z-index: 20;width: 50%;left: 25%;">
    </div>


    <div id="endIcon" ng-click="toggleList()"
         style="background-size: contain;font-size: small;position: fixed;
                right: 0;z-index: 50;
                 width: 100px;height: 80px;top: 350px;background: url(img/2-natije-2.png) no-repeat right;background-size: contain;">
    </div>
    <div ng-if="gamer.modal" ng-click="notification()"
         style="background-size: contain;font-size: small;position: fixed;
                left: 0;
                 width: 100px;height: 80px;top: 350px;background: url(img/notification.png) no-repeat left;background-size: contain">
    </div>
    </ion-content>
    <div style="height: 35%;
      overflow-y: scroll;
      position: fixed;
    width: 100%;
    bottom: 0;z-index: 10">
      <div ng-click="battlefield(row.gameId)" class="row myends" style="margin-bottom: 10px;background: url('img/{{row.scoreStatus}}.png');
        background-size: 60% 100%;
        background-repeat: no-repeat;
        height: 140px;z-index: 30;
        background-position: center;" ng-repeat="row in $root.games">
        <div style="position: absolute;left: 24%">
          <img ng-style="set_style(row.second.avatar)" style="width: 40%;border-radius: 50%;" src="{{row.second.avatar}}">
        </div>
        <div ng-if="row.status === '1'" style="position: absolute;left: 67%">
          <img style="width: 15%;margin-top: 40%;border-radius: 50%" src="img/timer.png">
        </div>
        <div class="myEText my-overflow-text" style=" position: absolute;left: 20%;
    margin-top: 110px;
    width: 23%;font-size: medium">
          {{row.second.user}}
        </div>
        <div style="line-height: 35px;position: absolute;left: 57%;margin-top: 41px; font-size: large" class="myEText">{{row.score}}</div>
        <div style="line-height: 35px;position: absolute;left: 57%;margin-top: 41px; font-size: large" class="myEText">{{row.score}}</div>

      </div>
    </div>
    <div ng-click="goBack()" style="width: 70px;
    background-image: url(img/back.png);
    background-size: 100% 100%;
    position: fixed;
    bottom: 0;
    height: 80px;"></div>
    <div style="width: 70px;
    background-image: url(img/help.png);
    background-size: 100% 100%;
    position: fixed;
    bottom: 0;
    right: 0;
    height: 80px;"></div>
  </ion-content>
</ion-view>

