<ion-view>
  <ion-content class="page-background" scroll="false">
    <ion-refresher on-refresh="refresh()" pulling-text="برای بارگزاری بکشید"
                   refreshing-text="در حال بارگزاری">
    </ion-refresher>
      <div class="row">
        <a class="col grid-example s6 leg-title">
        </a>
      </div>

      <div style="height: 65%;margin-top: 10%;overflow-y: scroll;position: relative">
      <div ng-if="loaded" ng-style="set_margin($index)" class="myText row" ng-repeat="row in leagues" style="background: url(img/leg_body.png) center center / 100% 80% no-repeat;
    height: 250px;
    width: 80%;display: inline;
    margin-left: 10%;position: absolute">
        <div style="line-height: 60px;font-size: medium;background: url('img/btn-leg.png');width: 40%;
    height: 60px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;position: relative;left: 30%;
    margin-top: -10px;
    text-align: center;">{{row.name}}</div>
        <div class="col grid-example s3" style="padding: 0;margin-top: 40px;margin-bottom: 0;min-width: 60px">
          <div style="line-height: 25px;font-size: medium;background: url('img/default.png');width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;"></div>
          <div class="myEText" style="line-height: 15px;font-size: large;width: 60px">{{row.left}}/{{row.capacity}}</div>
        </div>

        <div class="col grid-example s3" style="padding: 0;margin-top: 40px;min-width: 60px">
          <div style="line-height: 25px;font-size: medium;background: url('img/timer.png');width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;"></div>
          <div class="myEText" style="line-height: 15px;font-size: medium;width: 60px">{{row.startDate}}</div>
          <div ng-if="row.status == 0" ng-click="joinLeague(row)" style="line-height: 60px;font-size: medium;background: url('img/btn-leg.png');width: 20%;
    height: 60px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;position: absolute;left: 17%;margin-top: 20px">عضو شو</div>
          <div ng-if="row.status == 1" ng-click="waitForLeague()" style="line-height: 60px;font-size: medium;background: url('img/btn-leg.png');width: 20%;
    height: 60px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;position: absolute;left: 17%;margin-top: 20px">منتظر باش</div>
          <div ng-if="row.status == 2" ng-click="leagueStarted()" style="line-height: 60px;font-size: medium;background: url('img/btn-leg.png');width: 20%;
    height: 60px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;position: absolute;left: 17%;margin-top: 20px">شروع شد</div>
          <div ng-if="row.status == 3" ng-click="playLeague(row.id)" style="line-height: 60px;font-size: medium;background: url('img/btn-leg.png');width: 20%;
    height: 60px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;position: absolute;left: 17%;margin-top: 20px">بازی کن</div>
          <div ng-if="row.status == 4" ng-click="tops(row.id)" style="line-height: 60px;font-size: medium;background: url('img/btn-leg.png');width: 20%;
    height: 60px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;position: absolute;left: 17%;margin-top: 20px">نفرات برتر</div>
        </div>

        <div class="col grid-example s3" style="padding: 0;margin-top: 40px;min-width: 60px">
          <div style="line-height: 25px;font-size: medium;background: url('img/leg-gem.png');width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;"></div>
          <div class="myEText" style="line-height: 15px;font-size: medium;width: 60px">{{row.cost}}</div>
          <div ng-click="desc(row.i)"  style="line-height: 60px;font-size: medium;background: url('img/btn-leg.png');width: 20%;
    height: 60px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;position: absolute;left: 40%;margin-top: 20px">توضیحات</div>
        </div>

        <div class="col grid-example s3" style="padding: 0;margin-top: 40px;min-width: 60px">
          <div style="line-height: 25px;font-size: medium;background: url('img/leg-star.png');width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;"></div>
          <div class="myEText" style="line-height: 15px;font-size: medium;width: 60px">{{row.minLevel}}</div>
          <div ng-click="prices(row.i)" style="line-height: 60px;font-size: medium;background: url('img/btn-leg.png');width: 20%;
    height: 60px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;position: absolute;right: 17%;margin-top: 20px">جوایز</div>
        </div>
      </div>
      </div>
    <div ng-click="goBack()" style="width: 70px;
    background-image: url(img/back.png);
    background-size: 100% 100%;
    position: fixed;
    bottom: 0;
    height: 80px;"></div>
    <div style="width: 70px;
    background-image: url(img/help.png);
    background-size: 100% 100%;
    position: fixed;
    bottom: 0;
    right: 0;
    height: 80px;"></div>
  </ion-content>
</ion-view>
