<ion-view>
  <ion-content class="page-background" scroll="false">
    <div class="myText" style="width: 100%;height: 100%">
      <div id="main" class="row login-background" style="background: url('img/login-body-form.png');">
        <span id="tab" ng-click="switch()" class="col grid-example s2 login-tab"
              style="background: url('img/register-OFFLINE.png')"></span>

        <form ng-if="isLogin" ng-submit="doLogin()" name="loginForm" novalidate
              style="height: 100%;width: 100%;margin-top: 65%;margin-left: 15%;margin-right: 15%;">
          <div style="height: 30px;display: block;text-align: right;width: 90%;background: url('img/17-login-right5.png');
          background-size: 70px;
    background-repeat: no-repeat;
    background-position-x: right;">
          </div>
          <div style="height: 50px">
            <input id="username1" type="text" ng-model="username" name="username" required ng-maxlength="60"
                   style="background: url(img/input-01.png);width: 80%;height: 100%;background-size: 100% 100%;margin-left: 10%;padding-left: 40px;padding-right: 10px">
          </div>
          <div class="error-message myText"
               ng-show="loginForm.username.$error.maxlength && loginForm.username.$touched">
            برای فیلد نام کاربری حداکثر 60 کاراکتر وارد کنید
          </div>
          <div style="height: 20px;display: block;text-align: right;width: 90%;background: url('img/17-login-right6.png');
          background-size: 70px;
    background-repeat: no-repeat;
    background-position-x: right;">
          </div>
          <div style="height: 50px">
            <input id="pass1" type="password" ng-model="pass" name="pass" required ng-maxlength="60"
                   style="background: url(img/input-01.png);width: 80%;height: 100%;background-size: 100% 100%;margin-left: 10%;padding-left: 40px;padding-right: 10px">
          </div>
          <div class="error-message myText" ng-show="loginForm.pass.$error.maxlength && loginForm.pass.$touched">
            برای فیلد کلمه عبور حداکثر 60 کاراکتر وارد کنید
          </div>

          <div ng-click="forgetPass()" style="height: 50px;background: url('img/7-login-3.png');background-size: 70% 70%;
    background-repeat: no-repeat;
    margin-top: 20px;
    background-position: center;">
          </div>
          <button id="submitbtn" type="submit" class="row login-btn" ng-disabled="loginForm.$invalid"
                  style="background: url(img/7-login-2.png);float: right">
          </button>
        </form>


        <form ng-if="!isLogin" ng-submit="signUp()" name="signupForm" novalidate
              style="height: 100%;width: 100%;margin-top: 65%;margin-left: 15%;margin-right: 15%;">
          <div style="height: 30px;display: block;text-align: right;width: 90%;background: url('img/17-login-right5.png');
          background-size: 70px;
    background-repeat: no-repeat;
    background-position-x: right;">
          </div>
          <div style="height: 50px">
            <input id="username" type="text" ng-model="username" name="username" required ng-maxlength="60"
                   style="background: url(img/17-login-right2.png);width: 80%;height: 100%;background-size: 100% 100%;margin-left: 10%;padding-left: 40px;padding-right: 10px">
          </div>
          <div class="error-message myText"
               ng-show="signupForm.username.$error.maxlength && signupForm.username.$touched">
            برای فیلد نام کاربری حداکثر 60 کاراکتر وارد کنید
          </div>
          <div style="height: 20px;display: block;text-align: right;width: 90%;background: url('img/17-login-right6.png');
          background-size: 70px;
    background-repeat: no-repeat;
    background-position-x: right;">
          </div>
          <div style="height: 50px">
            <input id="pass" type="password" ng-model="pass" name="pass" required ng-maxlength="60"
                   style="background: url(img/17-login-right3.png);width: 80%;height: 100%;background-size: 100% 100%;margin-left: 10%;padding-left: 40px;padding-right: 10px">
          </div>
          <div class="error-message myText" ng-show="signupForm.pass.$error.maxlength && signupForm.pass.$touched">
            برای فیلد کلمه عبور حداکثر 60 کاراکتر وارد کنید
          </div>

          <div style="height: 20px;display: block;text-align: right;width: 90%;background: url('img/17-login-right7.png');
          background-size: 70px;
    background-repeat: no-repeat;
    background-position-x: right;">
          </div>
          <div style="height: 50px">
            <input id="tel" type="tel" ng-model="tel" name="tel" required ng-maxlength="11" ng-minlength="11"
                   style="background: url(img/17-login-right3.png);width: 80%;height: 100%;background-size: 100% 100%;margin-left: 10%;padding-left: 40px;padding-right: 10px">
          </div>
          <div class="error-message myText" ng-show="signupForm.tel.$error.maxlength && signupForm.tel.$touched">
            برای فیلد شماره همراه 11 رقم وارد کنید
          </div>
          <div class="error-message myText" ng-show="signupForm.tel.$error.minlength && signupForm.tel.$touched">
            برای فیلد شماره همراه 11 رقم وارد کنید
          </div>

          <button type="submit" class="row login-btn" ng-disabled="signupForm.$invalid"
                  style="background: url(img/7-signup-4.png);float: right">
          </button>
          <button ng-click="selectAvatar()" type="button" class="row login-btn"
                  style="background: url('{{avatar}}');float: left;">
          </button>
          <button ng-click="selectAvatar()" type="button" class="row login-btn"
                  style="background: url(img/7-signup-3.png);float: left;background-position-y: center !important;
                  height: 12%;width: 20%;
    position: absolute;
    margin-left: 18%;">
          </button>
        </form>
      </div>
    </div>
      <div ng-click="goBack()" style="width: 90px;
    background-image: url(img/back.png);
    background-size: 100% 100%;
    position: fixed;
    bottom: 0;
    height: 100px;"></div>
      <div style="width: 90px;
    background-image: url(img/help.png);
    background-size: 100% 100%;
    position: fixed;
    bottom: 0;
    right: 0;
    height: 100px;"></div>
  </ion-content>
</ion-view>

