<ion-view>
  <ion-content class="page-background" id="HomeController">
    <div class="myText">
      <div class="row">
        <a class="col grid-example s6" ng-click="goBack()">
          <div id="decline" class="myhelp" style="position: absolute;left: 0">
            انصراف
          </div>
        </a>
        <a class="col grid-example s6 mytitle">
          آوردگاه
        </a>
      </div>
      <div class="myhelp" style="width:100%;background-size: 72px 72px;background-position-x: left;">
        <div ng-click="help()" style="width: 72px;float: left;">راهنما</div>
        <div style="width: 60%;float: right;margin-top: 30px;display: none" id="clock"></div>
      </div>
      <div ng-if="loaded">
        <div class="row" style="margin-bottom: 20px;margin-top: 40px">
          <div id="playBtn" class="col grid-example s12 blue-button i"
               style="background: url('img/button1.png') no-repeat center;background-size: 180px 60px;font-size: large;"
               ng-click="play()">
            بازی کن
          </div>
        </div>

        <div class="row" style="margin-top: 60px">
          <div class="col grid-example s3"
               style="background: url(img/pic.png) no-repeat center;background-size: contain;">
            <img style="width: 42px;margin-top: 12px;border-radius: 50%" src="{{gamer.avatar}}">
          </div>
          <div class="col grid-example s3 rate-button" style="margin-right: 30px">
            شما
          </div>
          <div ng-if="battle.second" class="col grid-example s3 rate-button myEText" style="padding: 0;min-width: 35%">
            {{battle.second.user}}
          </div>
          <div ng-if="battle.second" class="col grid-example s3"
               style="background: url(img/pic.png) no-repeat center;background-size: contain;">
            <img style="width: 42px;margin-top: 12px;border-radius: 50%" src="{{battle.second.avatar}}">
          </div>
          <div ng-if="!battle.second" class="col grid-example s6 unknown" style="margin-left: 40px;margin-right: 10px">
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
