<ion-view>
  <ion-content class="page-background" id="HomeController">
    <div class="myText">
      <div class="row">
        <a class="col grid-example s6 avardgah">
        </a>
      </div>
      <div ng-if="loaded">
        <div class="row" style="margin-bottom: 20px;margin-top: 40px">
          <div class="col grid-example s6 enseraf"
               ng-click="goBack()">
          </div>
          <div class="col grid-example s6 game-play" ng-click="play()">
          </div>

        </div>

        <div class="row" style="margin-bottom: 10px;height: 100px;width: 80%;margin-left: 10%;">
          <div class="col grid-example s4"
               style="background: url(img/vs-03.png) no-repeat center;background-size: 100% 100%;margin: 0;padding: 0">
            <img style="width: 42px;margin-top: 8px;border-radius: 50%;margin-right: 18px" src="{{gamer.avatar}}">
            <span style="color: black;font-size: large;position: absolute;top: 265px;left: 20vw">من</span>
          </div>
          <div id="yourscore" class="col grid-example s4 rate"
               style="font-size: large;margin: 0;padding: 0;line-height: 55px">
          </div>
          <div ng-if="battle.second" class="col grid-example s4"
               style="background: url(img/vs-02.png) no-repeat center;background-size: 100% 100%;margin: 0;padding: 0">
            <img style="width: 42px;margin-top: 8px;border-radius: 50%;margin-left: 18px" src="{{battle.second.avatar}}">
            <div class="myEText" style="line-height: 20px;color: black;height: 30px;font-size: large">
              {{battle.second.level}}
            </div>
            <div class="myEText" style="color: black;font-size: large;position: absolute;top: 268px;right: 10vw;width: 80px;">
              {{battle.second.user}}
            </div>
          </div>
          <div ng-if="!battle.second" class="col grid-example s4"
               style="background: url(img/vs-02.png) no-repeat center;background-size: 100% 100%;margin: 0;padding: 0">
            <img style="width: 42px;margin-top: 8px;border-radius: 50%;margin-left: 18px" src="img/unknown.png">
          </div>
        </div>
      </div>
    </div>
      <div ng-click="goBack()" style="width: 90px;
    background-image: url(img/back.png);
    background-size: 100% 100%;
    position: fixed;
    bottom: 0;
    height: 100px;"></div>
      <div style="width: 90px;
    background-image: url(img/help.png);
    background-size: 100% 100%;
    position: fixed;
    bottom: 0;
    right: 0;
    height: 100px;"></div>
  </ion-content>
</ion-view>
