<ion-view>
  <ion-content class="page-background">
    <ion-refresher on-refresh="refresh()" pulling-text="برای بارگزاری بکشید"
                   refreshing-text="در حال بارگزاری">

    </ion-refresher>
    <div class="myText login-background" style="width: 100%;height: 100%;background: url('img/21-1.png');background-size: 85% 80% !important">

      <div
        style="background: url(img/pic.png) no-repeat center;background-size: contain;right: 0;position: absolute;width: 175px;height: 80px;top: 0"
        ng-click="selectAvatar()">
        <img ng-style="{'width' : gamer.nextLevel}" style="position: absolute;left: 30px;top: 42px;height: 15px;" src="img/bar-full-profile.png">
        <img style="width: 35%;border-radius: 50%;position: absolute;right: 5px;top: 10px;" src="{{profileData.avatar}}">
      </div>
      <div class="myEText" style="color: black;position: absolute;top: 15px;right: 70px;
        white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: small;
    width: 100px;
    text-align: center;">{{profileData.username}}
      </div>
      <div class="myEText" style="color: black;position: absolute;top: 42px;right: 153px;font-size: small">{{profileData.level}}
      </div>

      <div ng-if="profileData.username === gamer.user" class="row" style="top: 15%;
    position: absolute;right: 3px">
        <div ng-click="login()" class="col grid-example s6" style="background: url('img/21-8.png');background-size: 80% 60%;margin-left: 13%;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: center;
    margin-top: 5%;">
        </div>
        <div ng-click="changePass()" class="col grid-example s6" style="background: url('img/21-9.png');background-size: 80% 60%;margin-right: 13%;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: center;
    margin-top: 5%;">
        </div>
      </div>

      <div class="row" style="background: url('img/21-13.png') no-repeat center;background-size: 72% 50%;
      top: 30%;
    position: absolute;left: 1%">
        <div class="col myEText grid-example s6" style="margin: 0;  font-size: large">
          {{profileData.rating}}
        </div>
        <div class="col grid-example s6" style="margin: 0;background: url('img/21-12.png');background-size: 15%;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: center;">
        </div>
      </div>

      <div class="row" style="top: 35%;
    position: absolute;">
        <div class="col myEText grid-example s6" style="margin: 0;  font-size: large">
          {{profileData.win}}
        </div>
        <div class="col grid-example s6" style="margin: 0;background: url('img/21-10.png');background-size: 15%;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: center;padding: 0">
        </div>
      </div>

      <div class="row" style="background: url('img/21-13.png') no-repeat center;background-size: 70% 50%;
      top: 40%;
    position: absolute;left: 1%">
        <div class="col myEText grid-example s6" style="margin: 0;  font-size: large">
          {{profileData.lose}}
        </div>
        <div class="col grid-example s6" style="margin: 0;background: url('img/21-11.png');background-size: 15%;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: center;">
        </div>
      </div>

      <div class="row myEText" style="background: url('img/21-2.png') no-repeat center;background-size: 65%;
      top: 50%;height: 30%; font-size: xx-large;
    position: absolute;right: 3px">
        <span style="position: absolute;left: 30%;top: 45%;">{{profileData.silverCup}}</span>
        <span style="position: absolute;left: 48%;top: 25%;">{{profileData.goldCup}}</span>
        <span style="position: absolute;right: 30%;top: 45%;">{{profileData.bronzeCup}}</span>
      </div>
    </div>

      <div ng-click="goBack()" style="width: 70px;
    background-image: url(img/back.png);
    background-size: 100% 100%;
    position: fixed;
    bottom: 0;
    height: 80px;"></div>
      <div style="width: 70px;
    background-image: url(img/help.png);
    background-size: 100% 100%;
    position: fixed;
    bottom: 0;
    right: 0;
    height: 80px;"></div>
  </ion-content>
</ion-view>
