<ion-view>
  <ion-content class="page-background" scroll="false">
    <div class="myText">
      <div class="row">
        <a class="col grid-example s6" style="text-align: left" ng-click="goBack()">
          <img class="coins-ico" src="img/back.jpg" style="width: 56px"/>
        </a>
        <a class="col grid-example s6 mytitle">
          خفن ها
        </a>
      </div>
      <div class="row row1" style="background-size: 300px">
        <div class="col grid-example s6 coining-text-right" style="font-size: large">
          30 سکه
        </div>
        <div class="col grid-example s6 coining-text-left" style="color: darkmagenta;">
          تماشای ویدیو
        </div>
      </div>
      <div class="row row2" style="background-size: 300px" ng-click="wheel()">
        <div class="col grid-example s6 coining-text-right" style="font-size: large">
          20 سکه
        </div>
        <div class="col grid-example s6 coining-text-left" style="color: darkmagenta;">
          گردونه شانسی
        </div>
      </div>
      <div class="row row3" style="background-size: 300px" ng-click="invitation()">
        <div class="col grid-example s6 coining-text-right" style="font-size: large">
          40 سکه
        </div>
        <div class="col grid-example s6 coining-text-left" style="color: darkmagenta;">
          معرفی به دوستان
        </div>
      </div>
      <div class="row row4" style="background-size: 300px" ng-click="invitation()">
        <div class="col grid-example s6 coining-text-right" style="font-size: large">
          40 سکه
        </div>
        <div class="col grid-example s6 coining-text-left" style="color: darkmagenta;">
          معرفی به دوستان
        </div>
      </div>

    </div>
  </ion-content>
</ion-view>
