<ion-modal-view
  style="min-height: 100%;width: 100%;background: rgba(255,255,255,0.5);">
  <ion-content style="min-height: 100%;width: 100%;background: url('img/background.jpg');background-size: 100% 100%;background-repeat: no-repeat">
    <div class="myText">
      <div class="row">
        <a class="col grid-example s6" style="text-align: left" ng-click="modal.hide()">
          <img class="coins-ico" src="img/back.jpg" style="width: 56px"/>
        </a>
      </div>
      <div ng-if="ranks.user" class="row coining2" style="background-size: 300px">
        <div class="col grid-example s6 coining-text-right" style="font-size: large">
          20 سکه
        </div>
        <div class="col grid-example s6 coining-text-left" style="color: darkmagenta;">
          امتیاز شما
        </div>
      </div>
      <div ng-repeat="row in ranks.users" class="row" style="background: url('img/{{row.index}}.png') no-repeat center;background-size: 80% 140px">
        <div class="col grid-example s4 coining-text-right" style="font-size: large">
          {{row.score}}
        </div>
        <div class="col grid-example s4 coining-text-left" style="color: darkmagenta;">
         {{row.user}}
        </div>
        <div class="col grid-example s4" style="margin-top: 0">
          <img style="width: 48px;margin-right: 28px" src="{{row.avatar}}">
        </div>
      </div>
    </div>
  </ion-content>
</ion-modal-view>
