<ion-view>
  <ion-content class="page-background" scroll="false">
    <div class="myText">
      <div class="row">
        <a class="col grid-example s6 select-title">
        </a>
      </div>
      <div id="select-user" on-hold="scale('select-user')" on-release="removeScale('select-user')" class="row red-button" style="background-size: 60%;text-align: center;display: block;margin-top: 80px;line-height: 90px;height: 100px;" ng-click="byUsername()">
        انتخاب با نام کاربری
      </div>
      <div id="select-chance" on-hold="scale('select-chance')" on-release="removeScale('select-chance')" class="row blue-button" style="background-size: 60%;text-align: center;display: block;line-height: 80px;height: 90px;" ng-click="byChance()">
        حریف شانسی
      </div>
      <div class="row" style="text-align: center;display: block;background: url(img/21-13.png) no-repeat center;background-size: 40% 100%;
    line-height: 80px;margin-top: 0;
    padding-top: 0;">
        {{gamer.currentState}}
      </div>
    </div>
    <div ng-click="goBack()" style="width: 70px;
    background-image: url(img/back.png);
    background-size: 100% 100%;
    position: fixed;
    bottom: 0;
    height: 80px;"></div>
    <div style="width: 70px;
    background-image: url(img/help.png);
    background-size: 100% 100%;
    position: fixed;
    bottom: 0;
    right: 0;
    height: 80px;"></div>
  </ion-content>
</ion-view>
