<ion-view>
  <ion-content class="page-background">
    <div class="myText">
      <div class="row">
        <a class="col grid-example s6" style="text-align: left" ng-click="goBack()">
          <img class="coins-ico" src="img/back.jpg" style="width: 56px"/>
        </a>
        <a class="col grid-example s6 mytitle">
          انتخاب حریف
        </a>
      </div>
      <div class="myhelp" style="width:100%;background-size: 72px 72px;background-position-x: left;">
        <div ng-click="help()" style="width: 72px;float: left;">راهنما</div>
        <div style="width: 60%;float: right;margin-top: 30px;display: none" id="clock"></div>
      </div>
      <div class="row coining4" style="background-size: 300px;text-align: center;display: block" ng-click="byUsername()">
        انتخاب با نام کاربری
      </div>
      <div class="row coining4" style="background-size: 300px;text-align: center;display: block" ng-click="byChance()">
        حریف شانسی
      </div>
    </div>
  </ion-content>
</ion-view>
