<ion-view>
  <ion-content scroll="false">
    <div class="roulette">
      <div class="spinneromid">
        <div class="triangle">
          <!--=span.text=String.fromCharCode(65+i)--><span class="text">-10</span>
        </div>
        <div class="triangle">
          <!--span.text=String.fromCharCode(65+i)--><span class="text myText">20</span>
        </div>
        <div class="triangle">
          <!--span.text=String.fromCharCode(65+i)--><span class="text myText">0</span>
        </div>
        <div class="triangle">
          <!--span.text=String.fromCharCode(65+i)--><span class="text myText">5</span>
        </div>
        <div class="triangle">
          <!--span.text=String.fromCharCode(65+i)--><span class="text myText">15</span>
        </div>
        <div class="triangle">
          <!--span.text=String.fromCharCode(65+i)--><span class="text myText">40</span>
        </div>
        <div class="triangle">
          <!--span.text=String.fromCharCode(65+i)--><span class="text myText">25</span>
        </div>
        <div class="triangle">
          <!--span.text=String.fromCharCode(65+i)--><span class="text myText">-5</span>
        </div>
        <div class="triangle">
          <!--span.text=String.fromCharCode(65+i)--><span class="text myText">30</span>
        </div>
        <div class="triangle">
          <!--span.text=String.fromCharCode(65+i)--><span class="text myText">10</span>
        </div>
        <div class="triangle">
          <!--span.text=String.fromCharCode(65+i)--><span class="text myText">35</span>
        </div>
        <div class="triangle">
          <!--span.text=String.fromCharCode(65+i)--><span class="text myText">45</span>
        </div>
      </div>
      <div class="buttonomid button-spin" ng-click="spin()"><span class="myText">بچرخون</span></div>
    </div>
    <div ng-click="goBack()" style="width: 70px;z-index: 1000;
    background-image: url(img/back.png);
    background-size: 100% 100%;
    position: fixed;
    bottom: 0;
    height: 80px;"></div>
  </ion-content>
</ion-view>
