<ion-view>
  <ion-content scroll="false">
    <img ng-click="goBack()" class="coins-ico" src="img/back.jpg"
         style="width: 56px;top: 10px;left: 10px;position: absolute;display: block;z-index: 1000;"/>
    <div class="roulette">
      <div class="spinneromid">
        <div class="triangle">
          <!--span.text=String.fromCharCode(65+i)--><span class="text">1</span>
        </div>
        <div class="triangle">
          <!--span.text=String.fromCharCode(65+i)--><span class="text">2</span>
        </div>
        <div class="triangle">
          <!--span.text=String.fromCharCode(65+i)--><span class="text">3</span>
        </div>
        <div class="triangle">
          <!--span.text=String.fromCharCode(65+i)--><span class="text">4</span>
        </div>
        <div class="triangle">
          <!--span.text=String.fromCharCode(65+i)--><span class="text">5</span>
        </div>
        <div class="triangle">
          <!--span.text=String.fromCharCode(65+i)--><span class="text">6</span>
        </div>
        <div class="triangle">
          <!--span.text=String.fromCharCode(65+i)--><span class="text">7</span>
        </div>
        <div class="triangle">
          <!--span.text=String.fromCharCode(65+i)--><span class="text">8</span>
        </div>
        <div class="triangle">
          <!--span.text=String.fromCharCode(65+i)--><span class="text">9</span>
        </div>
        <div class="triangle">
          <!--span.text=String.fromCharCode(65+i)--><span class="text">10</span>
        </div>
        <div class="triangle">
          <!--span.text=String.fromCharCode(65+i)--><span class="text">11</span>
        </div>
        <div class="triangle">
          <!--span.text=String.fromCharCode(65+i)--><span class="text">12</span>
        </div>
      </div>
      <div class="buttonomid button-spin" ng-click="spin()"><span>انگشت کن</span></div>
    </div>
  </ion-content>
</ion-view>
