<ion-view>
  <ion-content scroll="false">
    <img ng-click="goBack()" class="coins-ico" src="img/back.jpg"
         style="width: 56px;top: 10px;left: 10px;position: absolute;display: block;z-index: 1000;"/>
    <div class="roulette">
      <div class="spinneromid">
        <div class="triangle">
          <!--=span.text=String.fromCharCode(65+i)--><span class="text">-10</span>
        </div>
        <div class="triangle">
          <!--span.text=String.fromCharCode(65+i)--><span class="text myText">20</span>
        </div>
        <div class="triangle">
          <!--span.text=String.fromCharCode(65+i)--><span class="text myText">0</span>
        </div>
        <div class="triangle">
          <!--span.text=String.fromCharCode(65+i)--><span class="text myText">5</span>
        </div>
        <div class="triangle">
          <!--span.text=String.fromCharCode(65+i)--><span class="text myText">15</span>
        </div>
        <div class="triangle">
          <!--span.text=String.fromCharCode(65+i)--><span class="text myText">40</span>
        </div>
        <div class="triangle">
          <!--span.text=String.fromCharCode(65+i)--><span class="text myText">25</span>
        </div>
        <div class="triangle">
          <!--span.text=String.fromCharCode(65+i)--><span class="text myText">-5</span>
        </div>
        <div class="triangle">
          <!--span.text=String.fromCharCode(65+i)--><span class="text myText">30</span>
        </div>
        <div class="triangle">
          <!--span.text=String.fromCharCode(65+i)--><span class="text myText">10</span>
        </div>
        <div class="triangle">
          <!--span.text=String.fromCharCode(65+i)--><span class="text myText">35</span>
        </div>
        <div class="triangle">
          <!--span.text=String.fromCharCode(65+i)--><span class="text myText">45</span>
        </div>
      </div>
      <div class="buttonomid button-spin" ng-click="spin()"><span class="myText">بچرخون</span></div>
    </div>
  </ion-content>
</ion-view>
