@font-face {
  font-family: 'myFont';
  src:
    url('font/IRANSansMobile_Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
.myText {
  font-family: myFont, sans-serif;
  font-weight: bolder;
}
